model/trait.hierarchy.meta/model/HierarchyXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:hierarchy="forsyde.io.trait.hierarchy" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="forsyde.io.trait.hierarchy">
    
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
    
  <xsd:simpleType name="PortDirectionEnum">
        
    <xsd:restriction base="xsd:NCName">
            
      <xsd:enumeration value="FORWARD"/>
            
      <xsd:enumeration value="BACKWARD"/>
            
      <xsd:enumeration value="BIDIRECTIONAL"/>
          
    </xsd:restriction>
      
  </xsd:simpleType>
    
  <xsd:complexType name="PortSpec">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element name="connectedVertexTrait" type="hierarchy:VertexTraitSpec"/>
            
      <xsd:element name="connectedEdgeTrait" type="hierarchy:EdgeTraitSpec"/>
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
        
    <xsd:attribute name="name" type="xsd:string"/>
        
    <xsd:attribute name="direction" type="hierarchy:PortDirectionEnum"/>
        
    <xsd:attribute name="connectedVertexTrait" type="xsd:string"/>
        
    <xsd:attribute name="connectedEdgeTrait" type="xsd:string"/>
      
  </xsd:complexType>
    
  <xsd:element name="PortSpec" type="hierarchy:PortSpec"/>
    
  <xsd:complexType abstract="true" name="VertexPropertyType">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
      
  </xsd:complexType>
    
  <xsd:element name="VertexPropertyType" type="hierarchy:VertexPropertyType"/>
    
  <xsd:complexType name="StringVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType"/>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="StringVertexPropertyType" type="hierarchy:StringVertexPropertyType"/>
    
  <xsd:complexType name="IntVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType"/>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="IntVertexPropertyType" type="hierarchy:IntVertexPropertyType"/>
    
  <xsd:complexType name="BooleanVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType"/>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="BooleanVertexPropertyType" type="hierarchy:BooleanVertexPropertyType"/>
    
  <xsd:complexType name="FloatVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType"/>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="FloatVertexPropertyType" type="hierarchy:FloatVertexPropertyType"/>
    
  <xsd:complexType name="DoubleVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType"/>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="DoubleVertexPropertyType" type="hierarchy:DoubleVertexPropertyType"/>
    
  <xsd:complexType name="LongVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType"/>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="LongVertexPropertyType" type="hierarchy:LongVertexPropertyType"/>
    
  <xsd:complexType name="ArrayVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType">
                
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    
          <xsd:element name="valueTypes" type="hierarchy:VertexPropertyType"/>
                  
        </xsd:choice>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="ArrayVertexPropertyType" type="hierarchy:ArrayVertexPropertyType"/>
    
  <xsd:complexType name="IntMapVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyType">
                
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    
          <xsd:element name="valueType" type="hierarchy:VertexPropertyType"/>
                  
        </xsd:choice>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="IntMapVertexPropertyType" type="hierarchy:IntMapVertexPropertyType"/>
    
  <xsd:complexType name="StringMapVertexPropertyType">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:IntVertexPropertyType">
                
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    
          <xsd:element name="valueType" type="hierarchy:IntVertexPropertyType"/>
                  
        </xsd:choice>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="StringMapVertexPropertyType" type="hierarchy:StringMapVertexPropertyType"/>
    
  <xsd:complexType abstract="true" name="VertexPropertyDefault">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
      
  </xsd:complexType>
    
  <xsd:element name="VertexPropertyDefault" type="hierarchy:VertexPropertyDefault"/>
    
  <xsd:complexType name="StringVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:attribute name="string" type="xsd:string"/>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="StringVertexPropertyDefault" type="hierarchy:StringVertexPropertyDefault"/>
    
  <xsd:complexType name="IntVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:attribute name="intValue" type="xsd:int"/>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="IntVertexPropertyDefault" type="hierarchy:IntVertexPropertyDefault"/>
    
  <xsd:complexType name="BooleanVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:attribute name="booleanValue" type="xsd:boolean"/>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="BooleanVertexPropertyDefault" type="hierarchy:BooleanVertexPropertyDefault"/>
    
  <xsd:complexType name="FloatVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:attribute name="floatValue" type="xsd:float"/>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="FloatVertexPropertyDefault" type="hierarchy:FloatVertexPropertyDefault"/>
    
  <xsd:complexType name="DoubleVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:attribute name="doubleValue" type="xsd:double"/>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="DoubleVertexPropertyDefault" type="hierarchy:DoubleVertexPropertyDefault"/>
    
  <xsd:complexType name="LongVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:attribute name="longValue" type="xsd:long"/>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="LongVertexPropertyDefault" type="hierarchy:LongVertexPropertyDefault"/>
    
  <xsd:complexType name="ArrayVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    
          <xsd:element name="values" type="hierarchy:VertexPropertyDefault"/>
                  
        </xsd:choice>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="ArrayVertexPropertyDefault" type="hierarchy:ArrayVertexPropertyDefault"/>
    
  <xsd:complexType name="IntMapVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:VertexPropertyDefault">
                
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    
          <xsd:element name="indexes" type="xsd:int"/>
                    
          <xsd:element name="values" type="hierarchy:VertexPropertyDefault"/>
                  
        </xsd:choice>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="IntMapVertexPropertyDefault" type="hierarchy:IntMapVertexPropertyDefault"/>
    
  <xsd:complexType name="StringMapVertexPropertyDefault">
        
    <xsd:complexContent>
            
      <xsd:extension base="hierarchy:IntVertexPropertyDefault">
                
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    
          <xsd:element name="indexes" nillable="true" type="xsd:string"/>
                    
          <xsd:element name="values" type="hierarchy:IntVertexPropertyDefault"/>
                  
        </xsd:choice>
              
      </xsd:extension>
          
    </xsd:complexContent>
      
  </xsd:complexType>
    
  <xsd:element name="StringMapVertexPropertyDefault" type="hierarchy:StringMapVertexPropertyDefault"/>
    
  <xsd:complexType name="VertexPropertySpec">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element name="propertyType" type="hierarchy:VertexPropertyType"/>
            
      <xsd:element name="propertyDefault" type="hierarchy:VertexPropertyDefault"/>
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
        
    <xsd:attribute name="name" type="xsd:string"/>
      
  </xsd:complexType>
    
  <xsd:element name="VertexPropertySpec" type="hierarchy:VertexPropertySpec"/>
    
  <xsd:complexType name="VertexTraitSpec">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element name="refinedTraits" type="hierarchy:VertexTraitSpec"/>
            
      <xsd:element name="requiredPorts" type="hierarchy:PortSpec"/>
            
      <xsd:element name="requiredProperties" type="hierarchy:VertexPropertySpec"/>
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
        
    <xsd:attribute name="name" type="xsd:string"/>
        
    <xsd:attribute name="refinedTraits" type="xsd:string"/>
      
  </xsd:complexType>
    
  <xsd:element name="VertexTraitSpec" type="hierarchy:VertexTraitSpec"/>
    
  <xsd:complexType name="EdgeTraitSpec">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element name="refinedTraits" type="hierarchy:EdgeTraitSpec"/>
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
        
    <xsd:attribute name="name" type="xsd:string"/>
        
    <xsd:attribute name="refinedTraits" type="xsd:string"/>
      
  </xsd:complexType>
    
  <xsd:element name="EdgeTraitSpec" type="hierarchy:EdgeTraitSpec"/>
    
  <xsd:complexType name="TraitHierarchy">
        
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
            
      <xsd:element name="scopedHierarchy" type="hierarchy:TraitHierarchy"/>
            
      <xsd:element name="vertexTraits" type="hierarchy:VertexTraitSpec"/>
            
      <xsd:element name="edgeTraits" type="hierarchy:EdgeTraitSpec"/>
            
      <xsd:element ref="xmi:Extension"/>
          
    </xsd:choice>
        
    <xsd:attribute ref="xmi:id"/>
        
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
        
    <xsd:attribute name="namespace" type="xsd:string"/>
      
  </xsd:complexType>
    
  <xsd:element name="TraitHierarchy" type="hierarchy:TraitHierarchy"/>
  
</xsd:schema>
