xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
  <xs:element name="forsyde" type="ForSyDe">
  </xs:element>
  <xs:complexType name="ForSyDe">
    <xs:all>
      <xs:element name="system" type="System" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="System">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:choice>
        <xs:element name="Constructor" type="Constructor"/>
        <xs:element name="Process" type="Process"/>
        <xs:element name="Signal" type="Signal"/>
        <xs:element name="Function" type="Function"/>
        <xs:element name="Edge" type="Edge"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Process">
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Signal">
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="dataType" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Constructor">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="argument" type="KeyValue" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Function">
    <xs:sequence maxOccurs="unbounded">
      <xs:choice>
        <xs:element name="input" type="KeyValue"/>
        <xs:element name="output" type="KeyValue"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="dataType" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="KeyValue">
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Edge">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="outnode" type="xs:string" />
    <xs:attribute name="innode" type="xs:string" />
  </xs:complexType>
</xs:schema>
